<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wesley Kane</title>
    <meta name="author" content="Wesley Kane">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Wesley Kane professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Wesley Kane</h1>
        <nav id="myTopnav" class="topnav">
            <a class="active" href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="greeting"></h2>
        <img class="classA" src="../static/images/wesley.jpeg" alt="Wesley Kane profile image" width="350px">
        
        <div class="classA">
            <!--
            <p id="intro">Hello World! My name is Wesley Kane. 
                I am an information systems student at carnegie 
                mellon university and I am very hungry today. 
                Overall I really enjoy playing soccer and tennis
                 and this one video game called Stellaris. 
                 I also want to play a new game called Homeworld 
                 3 which comes out next month! Is this enough text? im 
                not sure but anyways I hope you have a wonderful rest
                of your day and that you do well in your classes!</p>-->
                <span id="shortIntro">Hello World! My name is Wesley Kane. 
                    I am an information systems student at carnegie 
                    mellon university and I am very hungry today. 
                    Overall I really enjoy playing soccer and tennis
                     and this one video game called Stellaris. </span>
                <span id="readMore"> read more ...</span>
                <span id="longIntro">I also want to play a new game called Homeworld 
                    3 which comes out next month! Is this enough text? im 
                   not sure but anyways I hope you have a wonderful rest
                   of your day and that you do well in your classes!</span>
                <span id="readLess"> read less</span>
        </div>
    </div>
    <footer>
        <p id="copyYear">Wesley Kane &copy </p>

    </footer>
</body>
</html>